.table {
  width: 100%;
  border-radius: 16px;
  font-family: inherit;
  border-collapse: collapse;
  border: 1px solid;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--color-border);
  background-color: var(--color-bg-secondary);
  table-layout: fixed;
}

.table-row {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-secondary);
}

.table-header-cell {
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-secondary);
}

.table-header-cell:nth-child(1) {
  width: 40%;
}

.table-header-cell:nth-child(2) {
  width: 30%;
}

.table-header-cell:nth-child(3) {
  width: 15%;
}

.table-header-cell:nth-child(4) {
  width: 15%;
}

.table-cell {
  padding: 12px 16px;
  font-size: 0.95rem;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-secondary);
}

.table-cell:nth-child(1) {
  width: 40%;
}

.table-cell:nth-child(2) {
  width: 30%;
}

.table-cell:nth-child(3) {
  width: 15%;
}

.table-cell:nth-child(4) {
  width: 15%;
}
