.custom-table {
  width: 100%;
  border-radius: 16px;
  border-collapse: collapse;
  font-family: inherit;
  border: 1px solid #303030;
  overflow: hidden;
}

.custom-table-row {
  border-bottom: 1px solid #303030;
}

.custom-table-header-cell {
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 2px solid #303030;
}

.custom-table-cell {
  padding: 12px 16px;
  font-size: 0.95rem;
  border-bottom: 1px solid #303030;
}
