@use "../variables" as *;

@keyframes contentIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animateIn {
  animation: contentIn $animation-duration $animation-easing;
}

.animateOut {
  animation: contentOut $animation-duration $animation-easing;
}
