@use "../variables" as *;

@each $name, $value in $radius {
  .radius-#{$name} {
    border-radius: $value;
  }
}

.border {
  border: 1px solid color("border");
}

.border-0 {
  border: none;
}

.border-t {
  border-top: 1px solid color("border");
}

.border-r {
  border-right: 1px solid color("border");
}

.border-b {
  border-bottom: 1px solid color("border");
}

.border-l {
  border-left: 1px solid color("border");
}
