@use "variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-easing;
}

@mixin custom-scrollbar {
  ::-webkit-scrollbar {
    width: $scrollbar-width;
    background: color("bg-secondary");
  }

  ::-webkit-scrollbar-thumb {
    background: color("border");
    border-radius: radius("md");

    &:hover {
      background: color("primary-hover");
    }
  }

  ::-webkit-scrollbar-track {
    background: color("bg");
    border-radius: radius("md");
  }
}
