.header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}
