.input-with-select-modal {
  position: relative;
}

.select-button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
