.input {
  box-sizing: border-box;
  width: 100%;
  font-size: var(--font-size-base);
  font-family: inherit;
  padding: 16px;
  border: 2px solid var(--color-border);
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: var(--radius-md);
  transition: border-color 200ms ease-in-out;
}

.input:focus {
  outline: none;
}

.input--primary:focus {
  border-color: var(--color-primary-hover);
}

.input--secondary {
  border-color: var(--color-secondary);
}

.input--secondary:focus {
  border-color: #e56a4f;
}

.input--success {
  border-color: var(--color-success);
}

.input--success:focus {
  border-color: #4ac94d;
}

.input--error {
  border-color: var(--color-error);
}

.input--error:focus {
  border-color: #e03e3e;
}

.input--warning {
  border-color: var(--color-warning);
}

.input--warning:focus {
  border-color: #c08a1d;
}

.input--sm {
  padding: 6px 12px;
  font-size: 14px;
}

.input--lg {
  padding: 12px 24px;
  font-size: 18px;
}
