@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #131313;
  color: white;
  font-size: 16px;
}

button {
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  background-color: #ff37c7;
  color: white;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
}

input {
  background-color: #131313;
  color: white;
  font-size: inherit;
  width: 100%;
  padding: 16px;
  margin-bottom: 12px;
  border: 1px solid #303030;
  border-radius: 10px;
  box-sizing: border-box;
}
